html, body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    margin-top: 10px;
}

.row-index {
    margin: 0;
    padding: 0;
    display: flex;
}

.sheet--row-index,
.sheet--col-index {
    background-color: rgb(245, 245, 245);
    border: 1px solid #9c9c9c;
    color: rgb(100, 100, 100);
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
}
.sheet--row-index {
    min-height: 28px;
    min-width: 50px;
}
.sheet--col-index {
    min-width: 80px;
}

.col-inner {
    text-align: center;
    box-sizing: border-box;
}

.sheet--input {
    height: 28px;
    min-height: 28px;
    width: 80px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    border-radius: 0;
}
.sheet--input:focus,
.sheet--input:focus-within {
    border: 2px solid #2196f3;
    outline: none;
}

.row-column {
    display: flex;
}

.app-header {
    margin: 6px;
    display: flex;
    flex-direction: row-reverse;
}

.sheet-content,
.sheet-content--col-index {
    display: flex;
}

.sheet-content--col-head-index {
    min-height: 28px;
    min-width: 50px;
    border: 1px solid #dcdcdc;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
}

.pure-button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 100%;
    padding: .8em 1.2em;
    color: rgba(0,0,0,.8);
    border: transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px
}
.pure-button:focus {
    outline: 0
}
.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0
}
.pure-button-hover,.pure-button:focus,.pure-button:hover {
    box-sizing: border-box;
    border-color:  rgb(9, 88, 49);
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
.button-success {
    color: white;
    margin: 0 40px 0 10px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(28, 184, 65);
    background: rgb(28, 184, 65);
}

.loading {
    width: 80px;
    height: 40px;
    border: 0;
    background-position: center;
    background-image: url(img/spinner.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}