html, body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    margin: 10px;
}

.row-index {
    margin: 0;
    padding: 0;
    display: flex;
}

.col-index {
    background-color: rgb(245, 245, 245);
    border: 1px solid #dcdcdc;
    color: rgb(100, 100, 100);
    font-size: 10px;
    min-width: 50px;
    min-height: 28px;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
}

.col-inner {
    text-align: center;
    box-sizing: border-box;
}

.sheet--input {
    height: 28px;
    min-height: 28px;
    width: 80px;
    background-color: #FFF;
    border: 1px solid #dcdcdc;
    border-radius: 0;
}
.sheet--input:focus,
.sheet--input:focus-within {
    border: 2px solid #2196f3;
    outline: none;
}

.row-column {
    display: flex;
}